* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #032152;
    font-family: 'Indie Flower', cursive;
    color: white;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.dados-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap; 
    margin-top: 20px;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    margin: 30px 0;
    font-family: "Lobster", cursive;
    text-shadow: 4px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
}

h2 {
    font-size: 1.5rem;
    color: #4ecca3;
    margin-bottom: 10px;
}

/* Imagens */
img {
    width: 150px;
    max-width: 80%;
}


button {
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4ecca26e;
    color: #032152;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #38b892;
}


footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9rem;
}


@media (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }

    img {
        width: 120px;
    }

    .dados-container {
        gap: 20px;
    }
}
